@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --font: 'Poppins', san-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:before, :after{
    content: '';
    position: absolute;
}

body{
    background:linear-gradient(to bottom right, #EA899A, #FB5471);
    min-height:100vh;
    font-family: var(--font);
    font-size:16px;
    overflow-x:hidden;
}

a, span{
    display:inline-block;
}

a{
    text-decoration:none;
}

i{
    display:flex;
    align-items:center;
    justify-content:center;
}

ul{
    list-style:none;
}

button{
    border:none;
    outline:none;
    cursor:pointer;
    font-family: var(--font);
}

.jd-container-fluid{
    width:100%;
    height:100%;
    min-height:100vh;
    max-height:820px;
    position:relative;
    overflow:hidden;
    background:url(wave.svg)left bottom no-repeat;
    background-size:100% auto;
}

.jd-content-home{
    width:578px;
    height:420px;
    background:url(bg_2.svg);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    box-shadow:25px 25px 30px rgba(0,0,0,.2);
}

.jd-col-home{
    width:50%;
    height:100%;
    padding:20px;
}

.jd-col-home.left{
    background:#FB5471;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.jd-img-user{
    width:170px;
    height:170px;
    border-radius:50%;
    overflow:hidden;
    margin-top:40px;
}

.jd-img-user img{
    width:100%;
}

.jd-col-home.left h1{
    font-size:1rem;
    margin-top:20px;
}

.jd-col-home.left p{
    color:#FFEEF1;
    padding-left:5px;
}

.jd-social{
    width:140px;
    height:36px;
    margin-top:30px;
}

.jd-social ul {
    width:140px;
    height:36px;
    display:flex;
    align-items:center;
    gap:10px;
    justify-content:center;
}

.jd-social ul li a{
    width:36px;
    height:36px;
    border-radius: 50%;
    background:#E84360;
    color:#FFEEF1;
    transition:.2s;
}

.jd-social ul li a i{
    width:36px;
    height:36px;
    display:flex;
}

.jd-social ul li a:hover{
    color:#000;
}

.jd-col-home.right h1{
    font-size:4rem;
    line-height:50px;
    color:#FB5471;
    font-weight:400;
    margin-top:50px;
}

.jd-col-home.right p{
    font-size:.85rem;
    margin-top:10px;
}

.jd-btn-controll{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    margin-top:15px;
}

.jd-btn-controll button{
    width:106px;
    height:30px;
    border-radius:30px;
    background:#FB5471;
    color:#FFEEF1;
    transition:.2s;
    text-transform:uppercase;
}

.jd-btn-controll button:hover{
    background:#111;
    color:#FB5471;
}

.jd-modal{
    position:fixed;
    width:100%;
    height:100%;
    min-height:100vh;
    background:rgba(0,0,0,.3);
    opacity:0;
    visibility:hidden;
    transition:.5s;
}

.jd-modal.show{
    opacity:1;
    visibility:visible;
}

.jd-content-modal{
    width:620px;
    height:480px;
    position:absolute;
    top:55%;
    left:calc(50% - 310px);
    transform:translateY(-50%);
    background:url(bg.svg), #FFEEF1;
    padding:20px;
    border-radius:4px;
    opacity:0;
}

.jd-btn-close{
    position:absolute;
    top:20px;
    right:20px;
    width:32px;
    height:32px;
    border-radius:50%;
    background:#FB5471;
    transition:.3s;
    cursor:pointer;
}

.jd-btn-close:before,
.jd-btn-close:after{
    width:20px;
    height:2px;
    background:#111;
    top:calc(50% - 1px);
    left:calc(50% - 10px);
}

.jd-btn-close:hover{
    transform:rotate(180deg);
}

.jd-btn-close:before{
    transform:rotate(-45deg);
}

.jd-btn-close:after{
    transform:rotate(45deg);
}

.jd-row-modal{
    width:100%;
    height:384px;
    display:flex;
}

.jd-col-modal.left{
    width:200px;
    height:384px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.jd-col-modal.left i{
    width:106px;
    height:106px;
    background:#EFDBE1;
    display:flex;
    border-radius:50%;
    color:#FFEEF1;
    font-size:2rem;
}

.jd-col-modal.right{
    width:380px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.jd-col-modal.right h3{
    width:100%;
    text-align:center;
    margin-top:40px;
}

.jd-video{
    width:320px;
    height:180px;
    background:#111;
    margin-top:20px;
    box-shadow:0 5px #FB5471;
}

.jd-col-modal.left.jd-friend i{
    background:none;
    color:#EFDBE1;
    font-size:7.5rem;
}

.jd-col-modal.right{
    overflow-y:auto;
}

.jd-col-friend{
    display:flex;
    flex-direction:column;
}

.jd-col-friend li{
    width:250px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:10px;
}

.jd-col-friend li i{
    width:35px;
    height:35px;
    display:flex;
    color:#FB5471;
    font-size:2rem;
    position:relative;
}

.jd-col-friend li a{
    width:80px;
    height:30px;
    border-radius:30px;
    background:#FB5471;
    text-align:center;
    line-height:30px;
    color:#FFEEF1;
    text-transform:uppercase;
    font-size:.6rem;
    transition:.3s;
}

.jd-col-friend li a:hover{
    letter-spacing:1px;
}

.jd-data-user{
    width:115px;
    height:35px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.jd-data-user span{
    font-size:.85rem;
}

.jd-data-user p{
    width:76px;
    height:12px;
    background:url(https://i.postimg.cc/rFSVS5xn/star.png)no-repeat;
    background-size:cover;
}

::-webkit-scrollbar{
    width:5px;
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#FB5471;
}