body{
    background:radial-gradient(75vw 60vh ellipse at center center, #fec69a, #f86b5d), #f86b5d;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-select:none;
    user-select:none;
}
:root{
    --font-1: 'Suravaram', serif;
    --font-2: 'Romanesco', cursive;
    --font-3: 'Redressed', cursive;
    --color-1: #fec69a;
    --color-2: #f86b5d;
    --colort: #37322f;
}
:before, 
:after{
    content:'';
    position:absolute;
}
a{
    display:inline-block;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
}
span{
    display:inline-block;
}
#jd-main{
    width:100%;
    height:100vh;
    position:relative;
    font-family:var(--font-1);
    color:var(--colort);
    font-size:1em;
    overflow:hidden;
}
.jd-app{
    width:702px;
    height:540px;
    position:absolute;
    top:102px;
    left:calc(50% - 351px);
    background:#F0F0EE;
    border-radius:10px;
    box-shadow:0 0 80px 4px rgba(0,0,0,.2);
}
.jd-app:after{
    width:610px;
    height:108px;
    background:inherit;
    border-radius:50%;
    left:calc(50% - 305px);
    top:-47px;
}
.jd-content{
    width:100%;
    height:500px;
    position:absolute;
    text-align:center;
    top:-30px;
    left:0;
    z-index:100;
}
.jd-header{
    width:100%;
    height:75px;
    position:relative;
}
.jd-header h1{
    font-family:var(--font-3);
    font-size:2.3em;
}
.jd-header span{
    font-size:2em;
    line-height:26px;
    border-bottom:solid 1px var(--color-1);
}
.jd-nav{
    width:624px;
    height:100px;
    margin-left:39px;
    display:flex;
    justify-content:space-between;
}
.jd-btn-nav{
    width:120px;
    height:80px;
    background:var(--color-1);
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    color:var(--colort);
    font-size:1.3em;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    margin-top:20px;
    transition:all .2s linear;
}
.jd-btn-nav:hover{
    margin-top:0;
    background:var(--color-2);
}
.jd-page{
    width:660px;
    height:410px;
    position:absolute;
    top:105px;
    left:calc(50% - 330px);
    border-radius:10px;
    background:#FFF;
    box-shadow:0 0 0 1px var(--color-1), 0 0 12px rgba(0,0,0,.2);
    z-index:110;
    overflow:hidden;
}
.jd-container{
    width:calc(100% * 4);
    height:100%;
    position:absolute;
    left:0;
    top:0;
    display:flex;
    transform:translateX(0);
    transition:all .5s linear;
}
[class*='jd-section']{
    width:calc(100% / 4);
    height:100%;
    padding:15px;
}
.jd-title{
    font-weight:lighter;
    font-size:2.2em;
    line-height:36px;
}
.jd-block{
    width:100%;
    height:345px;
    display:flex;
}
.jd-col{
    width:50%;
    position:relative;
}
.jd-col h2{
    font-size:3em;
    line-height:36px;
    border-bottom:solid 1px var(--color-2);
}
.jd-col h3{
    position:absolute;
    width:80px;
    line-height:30px;
    text-align:center;
    background:var(--color-2);
    font-size:2em;
    font-weight:300;
    right:0;
    top:36px;
}
.jd-col span{
    font-size:2em;
    line-height:30px;
    padding-left:145px;
}
.jd-desc{
    width:80%;
    margin-top:10px;
    font-size:1.3em;
    line-height:26px;
}
.jd-img-user{
    width:290px;
    height:345px;
    padding:5px;
    border-radius:6px;
    box-shadow:0 0 0 1px var(--color-1);
    margin-left:20px;
}
#_jd-1:target .jd-container{
    transform:translateX(0);
}
#_jd-2:target .jd-container{
    transform:translateX(-660px);
}
#_jd-3:target .jd-container{
    transform:translateX(calc(-660px * 2));
}
#_jd-4:target .jd-container{
    transform:translateX(calc(-660px * 3));
}
.jd-section-video .jd-block, 
.jd-section-friend .jd-block, 
.jd-section-gal .jd-block{
    flex-direction:column;
    overflow-y:auto;
}
.jd-box-video{
    width:420px;
    margin:20px 0;
    text-align:center;
}
.jd-box-video span{
    width:100%;
    line-height:36px;
    background:var(--color-2);
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    font-size:1.5em;
}
.jd-video{
    width:420px;
    height:238px;
    background:#272727;
}
.jd-row{
    width:220px;
    height:50px;
    position:relative;
    margin:10px 6px;
    border-bottom:dashed 1px var(--color-1);
    display:flex;
    align-items:center;
}
.jd-row:after{
    width:12px;
    height:12px;
    background:var(--color-2);
    transform:rotate(45deg);
}
.jd-avatar{
    width:44px;
    height:44px;
    background:var(--color-1);
    margin:0 12px 0 20px;
}
.jd-infor{
    flex-grow:1;
    width:120px;
    position:relative;
}
.jd-infor a{
    width:28px;
    height:28px;
    position:absolute;
    border-radius:50%;
    right:10px;
    top:0;
    background:var(--color-2);
    transition:all .3s ease-out;
}
.jd-infor a:hover{
    transform:rotate(360deg);
    background:var(--colort);
}
.jd-infor a:before, 
.jd-infor a:after{
    width:12px;
    height:2px;
    background:var(--color-1);
    top:calc(50% - 1px);
    left:calc(50% - 6px);
}
.jd-infor a:after{
    transform:rotate(90deg);
}

.jd-img-gal{
    width:90%;
    height:auto;
    padding:6px;
    background:var(--color-1);
    box-shadow:0 0 2px rgba(0,0,0,.5);
    margin:15px 3px;
}
.jd-footer{
    position:absolute;
    width:100%;
    text-align:center;
    line-height:36px;
    bottom:0;
}
::-webkit-scrollbar{
    width:5px;
    background:var(--colort);
}
::-webkit-scrollbar-thumb{
    background:var(--color-2);
}