body{
    background:url(https://i.postimg.cc/J0v2GLRp/bg.png) top left repeat;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-select:none;
    user-select:none;
}
:root{
    --font-1: 'Pavanam', sans-serif;
    --font-2: 'Arima Madurai', cursive;
    --font-3: 'Syncopate', sans-serif;
    --font-4: 'Gruppo', cursive;
}
#main{
    width:100%;
    height:100vh;
    position:relative;
    font-size:4rem;
    color:white;
    font-family:var(--font-4);
    text-transform:uppercase;
    overflow:hidden;
}
h1, h2, h3, h4{
    font-weight:lighter;
}
.container{
    width:1080px;
    height:auto;
    margin:0 auto;
}
.title{
    line-height:90px;
    display:inline-block;
    margin-left:5px;
    margin-top:20px;
}
.conteudo{
    width:1050px;
    height:550px;
    margin-left:15px;
    background:linear-gradient(#333, #333 142px, #222 142px, #222 274px, #111 274px, #111 405px, #000 405px), #444;
    box-shadow:0 0 0 10px white inset, 0 0 40px 12px rgba(0,0,0,.6);
    margin-top:15px;
}
.pages{
    width:530px;
    height:530px;
    margin-left:60px;
    margin-top:10px;
    float:left;
    background:white;
    position:relative;
    box-shadow:15px 0 white inset, -15px 0 white inset, 0 1px black inset;
    overflow:hidden;
}
.nav{
    width:440px;
    height:530px;
    float:left;
    margin:10px;
}
.btn{
    display:block;
    line-height:132px;
    font-size:5rem;
    text-decoration:none;
    color:white;
    transition:all .3s;
}
.btn:hover{
    padding-left:50px;
}
.home, .about, .music, .galery{
    width:500px;
    height:530px;
    background:white;
    position:absolute;
    top:0;
    left:15px;
    transform:translateY(-100%);
    transition:all .5s;
    opacity:0;
    visibility:hidden;
    box-shadow:0 1px black inset, 0 -1px black inset;
    color:black;
}
.home{
    transform:translateY(0);
    opacity:1;
    visibility:visible;
    color:black;
}
.home img{
    margin-top:10px;
}
#selected-1{
    padding-left:50px;
}

#content-4:target .home{
    transform:translateY(0);
    opacity:1;
    visibility:visible;
    transition-delay:.8s;
}
#content-4:target .about, .music, .galery{
    transform:translateY(-100%);
    opacity:0;
    visibility:hidden;
}
#content-4:target #selected-1{
    padding-left:0;
}
#content-4:target #selected-1:hover{
    padding-left:50px;
}
#content-4:target #selected-1{
    padding-left:50px;
}

#content-3:target .about{
    transform:translateY(0);
    opacity:1;
    visibility:visible;
    transition-delay:.8s;
}
#content-3:target .home, .music, .galery{
    transform:translateY(-100%);
    opacity:0;
    visibility:hidden;
}
#content-3:target #selected-1{
    padding-left:0;
}
#content-3:target #selected-1:hover{
    padding-left:50px;
}
#content-3:target #selected-2{
    padding-left:50px;
}

#content-2:target .music{
    transform:translateY(0);
    opacity:1;
    visibility:visible;
    transition-delay:.8s;
}
#content-2:target .home, .about, .galery{
    transform:translateY(-100%);
    opacity:0;
    visibility:hidden;
}
#content-2:target #selected-1{
    padding-left:0;
}
#content-2:target #selected-1:hover{
    padding-left:50px;
}
#content-2:target #selected-3{
    padding-left:50px;
}

#content-1:target .galery{
    transform:translateY(0);
    opacity:1;
    visibility:visible;
    transition-delay:.8s;
}
#content-1:target .home, .about, .music{
    transform:translateY(-100%);
    opacity:0;
    visibility:hidden;
}
#content-1:target #selected-1{
    padding-left:0;
}
#content-1:target #selected-1:hover{
    padding-left:50px;
}
#content-1:target #selected-4{
    padding-left:50px;
}

.home h3{
    font-size:1.8rem;
    line-height:2rem;
    margin-top:10px;
}
.home h2{
    font-size:4rem;
}
.about p{
    font-size:1.5rem;
    color:black;
    width:100%;
    padding:50px 0;
}
.music h2{
    font-size:3rem;
}
.music h1{
    font-size:6rem;
}
.music h3{
    font-size:2.5rem;
}
.video{
    width:500px;
    height:283px;
    margin-top:10px;
}
.bloco{
    width:100%;
    height:510px;
    margin-top:10px;
    overflow-y:scroll;
}
::-webkit-scrollbar{
    width:5px;
    background:black;
}
::-webkit-scrollbar-thumb{
    background:#aaa;
}
.bloco img{
    width:480px;
    height:auto;
    margin-bottom:25px;
}
.footer{
    width:100%;
    text-align:center;
    font-size:.8rem;
    margin-top:20px;
}
