@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Oleo+Script+Swash+Caps:wght@400;700&family=Style+Script&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root{

      /** fonts */
      --font-1: "Cookie", cursive;
      --font-2: "Oleo Script Swash Caps", cursive;
      --font-3: "Style Script", cursive;

      /** colors */
      --text: #8bbbd6;
      --border: #8bbbd6;
      --light: #ffffff;
      --default: #c1ddf1;
      --shadow: #44484d;

      /** gradient */
      --grad-v: repeating-linear-gradient(0deg, #8bbbd6 0, #8bbbd6 10px, transparent 10px, transparent 20px);
      --grad-d: repeating-linear-gradient(90deg, #8bbbd6 0, #8bbbd6 10px, transparent 10px, transparent 20px);
}

:before,
:after{
      content: '';
      position: absolute;
}

body, html{
      width: 100%;
      height: auto;
      min-height: 100vh;
      font-size: 16px;
      font-family: var(--font-3);
      overflow-x: hidden;
      background-image: url(../images/bg-svg.svg);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: var(--text);
}

img{
      width: 100%;
      object-fit: cover;
}

.container-fluid{
      width: 100%;
      height: auto;
      min-height: 100vh;
      position: absolute;
}

.background{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}

.col-bg{
      width: 10px;
      height: 60vh;
      background: var(--light);
      top: 20vh;
      position: absolute;
}

.col-bg:before{
      width: 2px;
      height: 120%;
      top: 100px;
      background: var(--light);
}

.col-bg:after{
      width: 10px;
      height: 200px;
      background: var(--grad-v);
      top: 50px;
}

.col-bg.left{
      left: 15px;
}

.col-bg.left:before{
      left: 20px;
}

.col-bg.left:after{
      left: 40px;
}

.col-bg.right{
      right: 15px;
}

.col-bg.right:before{
      top: -100px;
      left: -10px;
}

.col-bg.right:after{
      top: 50vh;
      left: -40px
}

.main{
      width: 100%;
      height: auto;
      min-height: 100vh;
      position: relative;
      display: flex;
      gap: 20px;
}

.col-content{
      width: 20vw;
      height: auto;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
}

.container{
      width: 60vw;
      flex-grow: 1;
}

.box{
      width: 100%;
      height: auto;
      position: relative;
      padding-bottom: 30px;
}

.box:before{
      width: 12px;
      height: 12px;
      background: var(--light);
      border: solid 5px var(--border);
      transform: rotate(45deg);
      left: calc(50% - 6px);
      bottom: -10px;
      z-index: 5;
}

.box:after{
      width: 60%;
      max-width: 280px;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--border);
}

.box.baptism h2{
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-weight: 300;
      line-height: 3rem;
}

.header-container{
      margin: 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
}

.box.title h1{
      width: 100%;
      text-align: center;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 300;
}

.content{
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.slider-box,
.slider-content{
      width: 600px;
      height: 370px;
      position: relative;
      background: var(--light);
}

.slider-content{
      overflow: none;
}

.slider-box:before{
      width: 60%;
      height: 50px;
      background: #000;
      border-radius: 50%;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      filter: blur(25px);
      opacity: .4;
}

.slider-content:before{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 10;
}

.slider{
      width: 100%;
      height: 100%;
      position: relative;
}

.slider-item{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}

.slider-item img{
      width:100%;
      min-width:100%;
      max-width:100%;
      height:auto;
      position:relative;
      top:0;
      left:50%;
      transform:translateX(-50%) scale(1.2);
      display:block;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
  
.slider-item.slick-active img {
    transform:translateX(-50%) scale(1);
}

.box-name{
      position: absolute;
      bottom: 50px;
      left: 70px;
      z-index: 40;
}

.name{
      position: relative;
      font-family: var(--font-1);
      font-size: 4rem;
      display: inline-block;
      background: repeating-linear-gradient(-73deg, #8bbbd6, #ffffff, #c1ddf1, #8bbbd6 50%);
      background-size: 200%;
      color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-position: right top;
      animation: mov 1s linear infinite; 
}

.name[data-title]:before{
      content: attr(data-title);
      color: #000;
      top: 2px;
      left: 0;
      z-index: -1;
      filter: blur(5px);
      opacity: 0;
}

@keyframes move{
      to{
            background-position: left top;
      }
}

.details-repeat{
      width: 160px;
      height: 10px;
      background: var(--grad-d);
      position: absolute;
      left: 0;
      top: -20px;
}

.details{
      width: 40px;
      height: 40px;
      border: solid 5px var(--light);
      position: absolute;
      z-index: 50;
}

.details:before{
      width: 50px;
      height: 10px;
      background: var(--grad-d);
      left: 10px;
      top: -20px;
}

.details.top{
      top: -10px;
      right: 25px;
}

.details.bottom{
      transform: rotate(180deg);
      left: 25px;
      bottom: -30px;
}

.box.text-content{
      width: 100%;
      margin-top: 100px;
      display: flex;
      justify-content: center;
}

.box.text-content p{
      font-size: 2.4rem;
}

.box-date{
      width: 164px;
      height: 164px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.box-date:before{
      width: 120px;
      height: 120px;
      background: var(--light);
      border: solid 5px var(--border);
      box-shadow: 0 0 0 10px var(--light);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
}

.box-date h2,
.box-date span{
      position: relative;
      text-align: center;
      font-size: 2rem;
}

.box-date h2{
      margin-top: 30px;
}

.wrrap-date{
      display: flex;
      justify-content: center;
      font-size: 2rem;
}

.pin p{
      width: 100%;
      text-align: center;
      font-size: 2.2rem;
}

.toggle-play,
.toggle-play i{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.toggle-play{
      position: fixed;
      bottom: 50px;
      right: 50px;
      z-index: 12000;
      border: none;
      outline: none;
      background: var(--border);
      color: var(--light);
      box-shadow: 0 0 0 5px #8bbad63d, 0 0 30px rgba(0,0,0,.2);
      transition: .2s;
}

.toggle-play:hover{
      color: var(--shadow);
      box-shadow: 0 0 0 10px #8bbad63d, 0 0 30px rgba(0,0,0,.2);
      cursor: pointer;
}


/** responsive*/

@media screen and (max-width: 980px){

      .main{
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;
            width: 96%;
            margin: 0 auto;
      }

      .col-content{
            margin-top: 50px;
            width: 100%;
      }

      .box-name{
            left: -80px;
      }
}

@media screen and (max-width: 660px){

      .slider-box,
      .slider-content{
            width: 100%;
            height: auto;
      }

      .box-name{
            left: -20px;
            bottom: 20px 
      }

      .name{
            font-size: 3rem;
      }

      .details.bottom{
            bottom: -10px;
      }
}

@media screen and (max-width: 548px){

      .box.title h1{
            font-size: 3rem;
      }

      .box.text-content p{
            font-size: 1.6rem;
      }

      .background{
            display: none;
      }

      .details.top,
      .details.bottom,
      .details-repeat{
            transform: scale(.6);
      }

      .details.top{
            top: -20px;
            right: 0;
      }

      .details.bottom{
            bottom: -20px;
            left: 0;
      }

      .box-name{
            bottom: 50px;
      }

      .name{
            font-size: 2REM;
      }
}