body{
    background:url(https://i.postimg.cc/tX7scf5b/bg2.jpg)center center no-repeat;
    background-size:cover;
    max-height:100vh;
    overflow:hidden;
}
:root{
    --font-1: 'Fira Sans', sans-serif;
    --font-2: 'Noto Sans NK', sans-serif;
    --font-3: 'Open Sans', sans-serif;
    --princ: #AEBED5;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:before, 
:after{
    content:'';
    position:absolute;
}
a, span{
    display:inline-block;
}
a{
    text-decoration:none;
}
#jd-main,
.jd-app{
    width:100%;
    height:100vh;
    position:relative;
    font-size:16px;
    font-family:var(--font-1);
    color:var(--princ);
}
.jd-container{
    width:930px;
    height:450px;
    position:absolute;
    left:calc(50% - 465px);
    top:120px;
}
.jd-header{
    width:100%;
    height:160px;
    text-align:right;
}
.jd-header h1{
    font-weight:thin;
    font-size:8rem;
    line-height:130px;
}
.jd-header span{
    font-size:2rem;
}
.jd-navigator{
    width:100%;
    height:225px;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.jd-btn{
    width:225px;
    height:225px;
    border:solid 10px white;
    background:white;
    overflow:hidden;
    position:relative;
}
.jd-btn img{
    position:absolute;
    width:100%;
    background:var(--princ);
    background-blend-mode: multiply;
}
.jd-icon{
    position:absolute;
    width:100%;
    height:100px;
    background:#F5F5F5;
    display:flex;
    bottom:-100px;
    left:0;
    justify-content:center;
    align-items:center;
    transition:all .3s linear;
}
.jd-icon span{
    width:36px;
    height:36px;
    font-size:2rem;
    line-height:36px;
    text-align:center;
    color:#222;
    border-radius:50%;
    transition:all .4s .3s linear;
}
.jd-icon p{
    text-transform:uppercase;
    font-size:2rem;
    color:var(--princ);
}
.jd-btn:hover .jd-icon span{
    transform:rotate(360deg);
}
.jd-btn:hover .jd-icon{
    bottom:0;
}
.jd-xat{
    width:225px;
    height:40px;
    margin-left:calc(100% - 225px);
    margin-top:10px;
    text-align:center;
    line-height:40px;
    background:rgba(255,255,255,.5);
    color:var(--princ);
    transition:all .2s linear;
}
.jd-xat:hover{
    background:rgba(255,255,255,.8);
}
.jd-content{
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
    z-index:100;
}
[class*='jd-page']{
    position:absolute;
    width:930px;
    height:450px;
    left:calc(50% - 465px);
    top:120px;
    visibility:hidden;
}
.jd-aside{
    width:225px;
    height:450px;
    border:solid 10px white;
    background:white;
    left:0;
    top:0;
    transform:translateX(-100vw);
    transition:all .5s linear;
}
.jd-aside img{
    width:205px;
    height:350px;
}
.jd-aside a{
    width:100%;
    height:80px;
    background:#F5F5F5;
    color:var(--princ);
    font-size:2rem;
    text-align:center;
    line-height:80px;
}
.jd-section{
    position:absolute;
    width:695px;
    height:450px;
    top:0;
    right:0;
    border:solid 10px white;
    background:#F5F5F5;
    transform:translateX(100vw);
    transition:all .5s linear;
}
.jd-title{
    height:40px;
    line-height:40px;
    padding-left:10px;
    position:relative;
    text-transform:uppercase;
}
.jd-title:after{
    width:170px;
    height:1px;
    background:var(--princ);
    left:10px;
    bottom:0;
}
.jd-btn-close{
    width:34px;
    height:34px;
    line-height:34px;
    text-align:center;
    background:var(--princ);
    color:white;
    border-radius:3px;
    position:absolute;
    top:10px;
    right:10px;
}
.jd-article{
    width:calc(100% - 20px);
    height:370px;
    margin:10px;
}

#-jd_1:target .jd-content{
    visibility:visible;
}
#-jd_1:target .jd-page-about{
    visibility:visible;
}
#-jd_1:target .jd-page-about .jd-aside{
    transform:translateX(0);
}
#-jd_1:target .jd-page-about .jd-section{
    transform:translateX(0);
}

#-jd_2:target .jd-content{
    visibility:visible;
}
#-jd_2:target .jd-page-friend{
    visibility:visible;
}
#-jd_2:target .jd-page-friend .jd-aside{
    transform:translateX(0);
}
#-jd_2:target .jd-page-friend .jd-section{
    transform:translateX(0);
}

#-jd_3:target .jd-content{
    visibility:visible;
}
#-jd_3:target .jd-page-music{
    visibility:visible;
}
#-jd_3:target .jd-page-music .jd-aside{
    transform:translateX(0);
}
#-jd_3:target .jd-page-music .jd-section{
    transform:translateX(0);
}

#-jd_4:target .jd-content{
    visibility:visible;
}
#-jd_4:target .jd-page-gallery{
    visibility:visible;
}
#-jd_4:target .jd-page-gallery .jd-aside{
    transform:translateX(0);
}
#-jd_4:target .jd-page-gallery .jd-section{
    transform:translateX(0);
}

.jd-page-about .jd-article{
    display:flex;
}
.jd-col{
    width:50%;
}
.jd-col span{
    font-size:1.7rem;
}
.jd-col h3{
    font-size:2rem;
    font-weight:thin;
}
.jd-col:nth-child(2){
    overflow-y:auto;
}
.jd-col p{
    width:95%;
    font-family:var(--font-3);
    font-size:.8rem;
}

.jd-page-friend .jd-article,
.jd-page-music .jd-article,
.jd-page-gallery .jd-article{
    overflow-y:auto;
}
.jd-row{
    width:280px;
    height:70px;
    background:linear-gradient(90deg, #F5F5F5, var(--princ));
    margin-bottom:10px;
    display:flex;
    align-items:center;
}
.jd-avatar{
    width:50px;
    height:50px;
    background:white;
    margin:0 10px;
    box-shadow:-5px 5px var(--princ);
    overflow:hidden;
}
.jd-avatar img{
    width:100%;
}
.jd-infor{
    width:180px;
    height:50px;
    margin-left:10px;
    color:white;
    position:relative;
}
.jd-infor:after{
    width:100%;
    height:1px;
    background:white;
    top:24.5px;
    left:0;
}
.jd-infor span{
    width:100%;
    height:27px;
    text-align:right;
}
.jd-infor a{
    height:25px;
    color:white;
    width:50px;
    text-align:center;
    margin-left:130px;
    text-decoration: underline;
    font-size:.8rem;
    line-height:25px;
    font-style: italic;
}
.jd-box-video{
    width:620px;
    height:150px;
    margin-bottom:15px;
    display:flex;
}
.jd-box-video:nth-child(even){
    flex-direction: row-reverse;
}
.jd-video{
    width:265px;
    height:150px;
    background:#222;
}
.jd-box-video span{
    width:355px;
    height:150px;
    background:#AEBED5;
    color:white;
    text-align:center;
    line-height:150px;
}
.jd-img{
    width:95%;
    height:auto;
    border:solid 10px white;
    margin-bottom:15px;
}
.jd-footer{
    position:absolute;
    width:100%;
    line-height:50px;
    text-align:center;
    bottom:0;
    color:#222;
}