body{
    background:url(https://i.postimg.cc/bv98gVN9/px1-red.png)top left repeat, #E9000A;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-select:none;
    user-select:none;
}
:before, 
:after{
    content:'';
    position:absolute;
}
:root{
    --font-1: 'Great Vibes', cursive;
    --font-2: 'Cookie', cursive;
    --font-3: 'Oswald', sans-serif;
    --font-4: 'Six Caps', cursive;
    --font-5: 'Tangerine', cursive;
}
a{
    display:inline-block;
    text-align:center;
    text-decoration:none;
}
span{
    display:inline-block;
}
#jd_main{
    width:100%;
    height:100vh;
    position:relative;
    font-family:var(--font-5);
    font-size:1em;
    color:#111;
    overflow:hidden;
}
.jd_app{
    width:880px;
    height:440px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    justify-content:space-between;
}
.jd_aside{
    width:220px;
    text-align:center;
    background:url(https://i.postimg.cc/3Nc3pyJM/florais-by-vexels-2-small-dark.png)center top no-repeat;
    padding-top:50px;
    box-shadow:0 1px #111;
}
.jd_aside h1{
    font-size:3em;
    line-height:40px;
}
.jd_aside h1 span{
    padding-left:50px;
}
.jd_aside p, a{
    text-transform:uppercase;
    font-family:var(--font-3);
    color:#111;
}
.jd_aside p{
    font-size:.8em;
    letter-spacing:2px;
    font-weight:bold;
    line-height:36px;
}
ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    margin-top:50px;
    box-shadow:0 1px #111 inset;
}
ul li{
    width:100%;
    height:26px;
    box-shadow:0 1px #111;
    margin-bottom:1px;
}
li a{
    width:60%;
    height:26px;
    overflow:hidden;
}
li a span{
    width:100%;
    line-height:26px;
    font-size:.8em;
    text-shadow:0 26px #fff;
    transition:all .2s linear;
}
li a:hover span{
    margin-top:-26px;
}
.jd_link_chat{
    margin-top:60px;
    font-size:.85em;
    font-weight:bold;
}
.jd_content{
    width:620px;
    height:440px;
    box-shadow:0 0 0 1px #111;
    background:#222;
    position:relative;
}
.jd_content:before{
    width:630px;
    height:450px;
    border:solid 1px #111;
    top:-6px;
    left:-6px;
    z-index:-1;
}
.jd_content:after{
    width:500px;
    height:60px;
    background:#000;
    filter:blur(30px);
    border-radius:50%;
    left:calc(50% - 250px);
    bottom:-30px;
    z-index:-2;
}
.jd_menu{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
}
.jd_link_menu{
    width:50%;
    height:50%;
    position:relative;
    overflow:hidden;
}
.jd_link_menu img{
    width:100%;
    height:auto;
}
.jd_over{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0);
    text-align:center;
    transition:all .2s ease-out;
}
.jd_over:after{
    width:100%;
    height:100%;
    background:#E9000A;
    top:0;
    left:0;
    opacity:1;
    animation:pulse 2s ease-out infinite;
    z-index:1;
}
.jd_link_menu:nth-child(2) .jd_over:after{
    animation-delay:.2s;
}
.jd_link_menu:nth-child(3) .jd_over:after{
    animation-delay:.4s;
}
.jd_link_menu:nth-child(4) .jd_over:after{
    animation-delay:.6s;
}
@keyframes pulse{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.jd_link_menu:hover .jd_over{
    background:rgba(0,0,0,.8);
}
.jd_over span{
    color:#fff;
    font-family:var(--font-5);
    text-transform:capitalize;
    font-size:2.3em;
    position:relative;
    top:100px;
    transform:translate(0, 140px);
    transition:all .3s .15s ease-out;
}
.jd_over:hover span{
    transform:translate(0, 0);
}
.jd_over img{
    width:160px;
    height:21px;
    display:block;
    position:relative;
    left:calc(50% - 80px);
    top:95px;
    transform:translate(0, 140px);
    transition:all .3s .25s ease-out;
}
.jd_over:hover img{
    transform:translate(0, 0);
}
.jd_container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:transparent;
    visibility:hidden;
    overflow:hidden;
    z-index:1000;
}
[class*='jd_page']{
    position:absolute;
    width:620px;
    height:440px;
    background:#fff;
    top:0;
    left:0;
    transform:translate(0, 110%);
    transition:all .3s ease-out;
    display:flex;
    justify-content:center;
}
.jd_btn_prev{
    position:absolute;
    width:26px;
    height:26px;
    line-height:26px;
    border-radius:50%;
    font-size:.8em;
    box-shadow:0 0 0 1px #111 inset;
    top:6px;
    right:6px;
    text-align:center;
}

#-jd_1:target .jd_container, 
#-jd_2:target .jd_container, 
#-jd_3:target .jd_container, 
#-jd_4:target .jd_container{
    visibility:visible;
}
#-jd_1:target .jd_page_about{
    transform:translate(0, 0);
}
#-jd_2:target .jd_page_friend{
    transform:translate(0, 0);
}
#-jd_3:target .jd_page_music{
    transform:translate(0, 0);
}
#-jd_4:target .jd_page_gal{
    transform:translate(0, 0);
}
.jd_aside_page{
    width:200px;
    height:380px;
    margin-top:30px;
    text-align:center;
    border-right:double  3px #666;
    background:url(https://i.postimg.cc/tCBRP44C/bg-title-small.png)center 30px no-repeat;
}
.jd_title{
    margin-bottom:60px;
    font-weight:300;
}
.jd_user{
    width:120px;
    height:120px;
    border-radius:50%;
    box-shadow:0 0 0 5px #FFF, 0 0 0 6px #666;
}
[class*='jd_section']{
    width:410px;
    height:370px;
    margin-top:40px;
    margin-right:10px;
    overflow-y:auto;
    padding-left:10px;
}
h2, h3{
    font-size:2.2em;
}
.jd_id{
    display:block;
    font-family:var(--font-3);
    padding-left:120px;
}
.jd_desc{
    margin-top:15px;
    font-size:1.3em;
    font-family:var(--font-1);
}
.jd_section_friend{
    display:flex;
    flex-direction:column;
}
.jd_row a{
    width:200px;
    height:162px;
    background:url(https://i.postimg.cc/6Q4GY1HS/bg-friend-small.png)top left no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
}
.jd_avatar{
    width:70px;
    height:70px;
    background:#fff;
    box-shadow:0 0 0 1px #aaa;
    position:relative;
}
.jd_avatar:after{
    width:70px;
    height:70px;
    background:#fff;
    box-shadow:0 0 0 1px #aaa;
    left:-5px;
    top:-5px;
    z-index:-1;
}
.jd_row span{
    width:100px;
    font-family:var(--font-2);
    text-transform:capitalize;
    font-size:1.2em;
    position:relative;
    height:23px;
}
.jd_row span:before, 
.jd_row span:after{
    width:60px;
    height:1px;
    background:#aaa;
    left:calc(50% - 30px);
    top:0;
}
.jd_row span:before{
    top:23px;
}
.jd_box{
    width:360px;
    height:auto;
    padding-bottom:10px;
    border-bottom:double 3px #aaa;
    margin-left:calc(50% - 180px);
    margin-bottom:20px;
}
.jd_box span{
    width:100%;
    text-align:center;
    font-size:2em;
}
.jd_video{
    width:360px;
    height:203px;
    background:#222;
    margin-top:10px;
}
.jd_img_gal{
    width:360px;
    height:292px;
    display:block;
    filter:grayscale(1);
    margin-bottom:15px;
    transition:all .3s ease-out;
}
.jd_img_gal:hover{
    filter:grayscale(0);
}
.jd_footer{
    width:100%;
    text-align:center;
    line-height:50px;
    font-family:var(--font-3);
    position:absolute;
    bottom:0;
    z-index:-1;
}
::-webkit-scrollbar{
    width:5px;
    background:#222;
}
::-webkit-scrollbar-thumb{
    background:#E9000A;
}