body{
    background:linear-gradient(35deg, #F674FF, #FFF, #73C1E2);
}
:root{
    --font-1: 'Great Vibes', cursive;
    --font-2: 'Pacifico', cursive;
    --font-3: 'Raleway', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:before, :after{
    content:'';
    position:absolute;
}
a{
    text-decoration:none;
    display:inline-block;
}
span{
    display:inline-block;
}
#jd-main{
    width:100%;
    height:100vh;
    min-height:880px;
    position:relative;
    font-size:16px;
    font-family:var(--font-3);
    color:#222;
}
.jd-app{
    width:870px;
    height:680px;
    position:absolute;
    top:50px;
    right:120px;
}
.jd-aside{
    width:374px;
    height:255px;
    position:absolute;
    left:0;
    top:234px;
    z-index:100;
}
.jd-id{
    font-size:4.5rem;
    text-shadow:1px 1px #222, 3px 3px #73C1E2, 5px 5px #F79DDD;
    color:#FFF;
}
.jd-title{
    font-family:var(--font-2);
    color:#73C1E2;
    font-size:5rem;
    line-height:80px;
    text-shadow:3px 3px #FFF, 5px 5px #222;
    font-weight:300;
}
.jd-box-aside{
    width:370px;
    height:150px;
    margin-top:10px;
    background:#F79DDD;
    border-radius:6px;
    box-shadow:15px 15px 10px rgba(0,0,0,.1);
    position:relative;
    padding:20px;
    overflow:hidden;
}
.jd-box-aside:after{
    width:0;
    height:0;
    border-right:solid 82px #F682D5;
    border-top:solid 75px transparent;
    border-bottom:solid 75px transparent;
    top:0;
    right:0;
}
.jd-box-aside *{
    display:block;
    position:relative;
    z-index:10;
}
.jd-box-aside span{
    text-transform:uppercase;
    font-size:2rem;
    margin-top:20px;
}
.jd-box-aside a{
    width:252px;
    height:40px;
    color:#F502CA;
    border-bottom:solid 2px #FFF;
}
.jd-content{
    width:650px;
    height:680px;
    background:#FFF;
    position:absolute;
    right:0;
    top:0;
    box-shadow:0 0 10px rgba(0,0,0,.3), 0 0 0 10px #222, 0 0 50px rgba(0,0,0,.4);
}
.jd-header{
    width:100%;
    height:185px;
    border-bottom:solid 10px #F79DDD;
    background:linear-gradient(35deg, #F674FF, #FFF, #73C1E2);
}
.jd-wel{
    font-family:var(--font-1);
    font-size:3rem;
    text-align:center;
    text-shadow:3px 3px rgba(0,0,0,.1);
    margin-top:40px;
    display:inline-block;
    width:100%;
}
.jd-nav{
    width:350px;
    height:34px;
    margin-top:10px;
    margin-left:280px;
    display:flex;
    justify-content:space-between;
}
.jd-btn{
    width:80px;
    height:34px;
    line-height:34px;
    text-align:center;
    background:#73C1E2;
    color:#FFF;
    box-shadow:0 -3px #FFF inset;
    transition:all .2s ease-out;
    border-bottom:solid 1px #222;
}
.jd-btn:hover{
    color:#F674FF;
    box-shadow: 0 -34px #FFF inset;
}
.jd-btn:nth-child(even){
    background:#F79DDD;
}
.jd-container{
    width:470px;
    height:450px;
    position:absolute;
    right:0;
    top:210px;
    background:#FFF3FB;
    border-left:solid 5px #FEE1F5;
}
.jd-container:after{
    width:5px;
    height:100%;
    background:#FEE1F5;
    left:-5px;
    top:0;
    box-shadow:0 150px #F79DDD inset, 0 300px #FFC4EE inset;
}
[class*='jd-page']{
    width:435px;
    height:420px;
    position:absolute;
    top:15px;
    left:15px;
    background:#FFF3FB;
    opacity:0;
    visibility:hidden;
    transition:all .3s .3s ease-out;
}
.jd-page-home{
    opacity:1;
    visibility:visible;
}
.jd-top{
    width:100%;
    height:170px;
    display:flex;
    justify-content:space-between;
}
.jd-box-img{
    width:50%;
    height:170p0x;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 10px rgba(0,0,0,.3);
    display:flex;
    align-items:center;
    justify-content:center;
}
.jd-box-img:nth-child(1){
    width:260px;
}
.jd-box-img:nth-child(2){
    width:120px;
}
.jd-box-img img{
    width:120%;
}
.jd-desc{
    margin-top:20px;
    font-size:.85rem;
}

#-jd_2:target .jd-page-home,
#-jd_3:target .jd-page-home,
#-jd_4:target .jd-page-home{
    visibility:hidden;
    opacity:0;
}
#-jd_1:target .jd-page-home{
    visibility:visible;
    opacity:1;
}
#-jd_2:target .jd-page-friend{
    visibility:visible;
    opacity:1;
}
#-jd_3:target .jd-page-photo{
    visibility:visible;
    opacity:1;
}
#-jd_4:target .jd-page-video{
    visibility:visible;
    opacity:1;
}
.jd-page-friend,
.jd-page-video,
.jd-page-photo{
    display:flex;
}
.jd-title-page{
    width:70px;
    height:100%;
    writing-mode:vertical-rl;
    text-orientation:upright;
    color:#73C1E2;
    text-transform:uppercase;
    text-align:left;
    line-height:70px;
    font-size:3rem;
    text-shadow:2px 2px #F79DDD, 4px 4px #73C1E2;
}
.jd-section{
    width:365px;
    height:100%;
    overflow-y:auto;
}
.jd-row{
    width:220px;
    height:60px;
    background:#FFBEEC;
    box-shadow:5px 5px rgba(0,0,0,.1);
    margin-bottom:20px;
    display:flex;
    transition:all .2s ease-out;
}
.jd-row:hover{
    background:#F674FF;
}
.jd-avatar{
    width:60px;
    height:60px;
    background:#F79DDD;
    overflow:hidden;
}
.jd-avatar img{
    width:100%;
}
.jd-infor{
    width:160px;
    position:relative;
    padding:5px;
}
.jd-infor a{
    position:absolute;
    width:30px;
    height:30px;
    top:0;
    right:10px;
    background:url(https://i.postimg.cc/GhDD5n5y/Union-1.png)center center no-repeat, #0087E9;
    transition:all .2s ease-out;
}
.jd-infor a:hover{
    box-shadow:0 0 0 3px #FFBEEC inset;
}
.jd-infor span,
.jd-infor p{
    line-height:25px;
    color:#73C1E2;
    font-size:.8rem;
}
.jd-infor span{
    font-weight:bold;
}
.jd-infor p{
    color:#FFF;
    font-style:italic;
}
.jd-box-video{
    width:320px;
    height:auto;
    margin-left:25px;
    margin-bottom:25px;
}
.jd-song{
    width:100%;
    text-align:center;
    line-height:36px;
    color:#0087E9;
}
.jd-video{
    width:320px;
    height:180px;
    background:#222;
    box-shadow:0 5px #F79DDD;
}
.jd-img{
    width:94%;
    height:auto;
    margin-bottom:25px;
    border:solid 5px #F79DDD;
}
.jd-credits{
    position:absolute;
    width:100%;
    text-align:center;
    bottom:10px;
}
::-webkit-scrollbar{
    width:5px;
    background:#73C1E2;
}
::-webkit-scrollbar-thumb{
    background:#F79DDD;
}