body{
    background:linear-gradient(135deg, #E50072 220px, transparent 221px), 
        linear-gradient(135deg, #FFF 235px, transparent 236px), 
        linear-gradient(#F76BAB, #F7BED9);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --font-1: 'Lora', serif;
    --font-2: 'Noto Serif', serif;
    --font-3: 'Roboto', sans-serif;
    --pink: #E50072;
}
:before,
:after{
    content:'';
    position:absolute;
}
a{
    display:inline-block;
    text-decoration:none;
}
span{
    display:inline-block;
}
#jd-main{
    width:100%;
    height:100vh;
    position:relative;
    font-family:var(--font-1);
    font-size:16px;
    color:#000;
    overflow:hidden;
}
.jd-app{
    width:860px;
    height:520px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    justify-content:space-between;
}
.jd-aside{
    width:240px;
    position:relative;
}
.jd-photo{
    width:240px;
    height:305px;
    overflow:hidden;
    box-shadow:25px 25px 20px rgba(0,0,0,.2);
    border:solid 5px #FFF;
}
.jd-photo img{
    width:280px;
    height:auto;
}
.jd-sub{
    width:230px;
    height:40px;
    background:var(--pink);
    position:absolute;
    top:230px;
    left:30px;
    text-transform:uppercase;
    line-height:40px;
    text-align:center;
    color:#FFF;
}
.jd-title-aside{
    width:100%;
    height:80px;
    margin:20px 0;
    position:relative;
}
.jd-title-aside h1{
    color:#FFF;
    font-weight:300;
    font-size:2.8rem;
}
.jd-title-aside h2{
    color:#660033;
    font-weight:300;
    font-style:italic;
    padding-left:140px
}
.jd-title-aside span{
    position:absolute;
    font-size:2rem;
    color:#660033;
    bottom:5px;
    right:110px;
}
.jd-desc-aside{
    width:100%;
    height:100px;
    overflow-y:auto;
    font-size:.8rem;
}
.jd-content{
    width:570px;
    height:520px;
    position:relative;
    background:#FFF;
    border:solid 5px #FFF;
    box-shadow:0 0 40px rgba(0,0,0,.2);
}
.jd-nav,
.jd-section{
    width:560px;
    height:510px;
    position:absolute;
}
.jd-nav{
    display:flex;
}
.jd-btn{
    width:calc(100% / 4);
    position:relative;
    background:#FFF;
    border-right:solid 1px #FFF;
    overflow:hidden;
    transition:all .2s linear;
}
.jd-btn:last-child{
    border:none;
}
.jd-btn:hover{
    width:190px;
}
.jd-btn:after{
    width:100%;
    height:100%;
    background:linear-gradient(rgba(255,255,255,0), #F87BB9);
    top:0;
    left:0;
    opacity:0;
    transition:all .2s linear;
}
.jd-btn:hover:after{
    opacity:1;
}
.jd-btn img{
    position:absolute;
    left:50%;
    min-height:100%;
    transform:translateX(-50%);
    filter:grayscale(1);
    transition:all .2slinear;
}
.jd-btn:hover img{
    filter:grayscale(0);
}
.jd-btn span{
    position:relative;
    width:100%;
    line-height:40px;
    height:40px;
    text-align:center;
    background:rgba(0,0,0,.6);
    color:#FFF;
    text-transform:uppercase;
    top:520px;
    transition:all .3s .1s linear;
    z-index:50;
}
.jd-btn:hover span{
    top:calc(50% - 20px);
}
.jd-section{
    visibility:hidden;
    overflow:hidden;
    z-index:100;
}
[class*='jd-page']{
    width:100%;
    height:100%;
    background:#FFF;
    position:absolute;
    top:0;
    left:0;
    border-bottom:solid 15px var(--pink);
    transition:all .5s linear;
}
.jd-page-about{
    top:0;
    left:-110%;
}
.jd-page-friend{
    top:0;
    left:110%;
}
.jd-page-music{
    top:-110%;
    left:0;
}
.jd-page-photo{
    top:110%;
    left:0;
}

#-jd_1:target .jd-section,
#-jd_2:target .jd-section,
#-jd_3:target .jd-section,
#-jd_4:target .jd-section{
    visibility:visible;
}
#-jd_1:target .jd-page-about{
    top:0;
    left:0;
}
#-jd_2:target .jd-page-friend{
    top:0;
    left:0;
}
#-jd_3:target .jd-page-music{
    top:0;
    left:0;
}
#-jd_4:target .jd-page-photo{
    top:0;
    left:0;
}
.jd-title-page{
    height:50px;
    line-height:50px;
    padding-left:20px;
    background:var(--pink);
}
.jd-back{
    width:30px;
    height:30px;
    border-radius:50%;
    background:rgba(0,0,0,.2);
    position:absolute;
    top:10px;
    right:10px;
    transform:rotate(45deg);
    transition:all .2s linear;
}
.jd-back:before, 
.jd-back:after{
    width:14px;
    height:2px;
    background:#000;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.jd-back:after{
    transform:translate(-50%, -50%) rotate(90deg);
}
.jd-back:hover{
    transform:rotate(135deg);
}
.jd-article{
    width:100%;
    height:420px;
    margin-top:15px;
    padding:0 10px;
}
.jd-page-about .jd-article{
    display:flex;
}
.jd-col-user{
    width:250px;
    margin-right:10px;
}
.jd-col-user p{
    font-size:1.3rem;
    color:var(--pink);
}
.jd-col-user h2{
    color:#BBB;
    font-size:2rem;
}
.jd-col-user span, 
.jd-col-user a{
    display:block;
    color:#000;
    line-height:30px;
    font-size:1.2rem;
}
.jd-img-user{
    width:250px;
    height:250px;
    margin-top:10px;
    overflow:hidden
}
.jd-img-user img{
    width:260px;
    height:auto;
}
.jd-desc{
   width:280px;
    overflow-y:auto;
}
.jd-desc p{
    font-size:.9rem;
    padding-right:5px;
}
.jd-col-friend{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
}
.jd-row{
    width:250px;
    height:70px;
    margin-bottom:15px;
    box-shadow:0 5px var(--pink);
    display:flex;
}
.jd-avatar{
    width:60px;
    height:60px;
    background:#000;
    box-shadow:3px 3px var(--pink);
    margin-right:10px;
}
.jd-avatar img{
    width:100%;
}
.jd-infor{
    width:180px;
    position:relative;
}
.jd-infor span,
.jd-infor p{
    line-height:30px;
}
.jd-infor a{
    width:22px;
    height:22px;
    position:absolute;
    top:0;
    right:0;
    background:#000;
    transition:all .2s ease-out;
}
.jd-infor a:hover{
    background:var(--pink);
}
.jd-infor a:before,
.jd-infor a:after{
    width:12px;
    height:2px;
    background:#FFF;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.jd-infor a:after{
    transform:translate(-50%, -50%) rotate(90deg);
}
.jd-page-music .jd-article,
.jd-page-photo .jd-article{
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow-y:auto;
}
.jd-box{
    width:400px;
    height:auto;
    margin-bottom:25px;
}
.jd-box span{
    width:100%;
    text-align:center;
    line-height:32px;
}
.jd-video{
    width:400px;
    height:226px;
    background:#111;
    box-shadow:0 10px var(--pink);
}
.jd-img{
    width:450px;
    height:auto;
    border:solid 10px var(--pink);
    margin-bottom:20px;
}
.jd-footer{
    width:100%;
    line-height:50px;
    text-align:center;
    position:absolute;
    bottom:0;
    z-index:-1;
}
::-webkit-scrollbar{
    width:5px;
    background:#000;
}
::-webkit-scrollbar-thumb{
    background:var(--pink);
}